# Variáveis de ambiente e segredos
venv/
env/
.env
.env.*

# Arquivos temporários do Python
__pycache__/
*.pyc

# Arquivos locais
relatorio_*.csv

# Confidenciais
firebase_credentials.json
firebase_keys.py